<div class="container-fluid mx-0 px-0">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand"><i class="fa fa-github text-success mx-2" aria-hidden="true"></i><b>GitHub Search</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav text-center">
            <a class="nav-item nav-link" routerLink="about" routerLinkActive='active'>About Us<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="users" routerLinkActive='active'>Search Users</a>
            <!-- <a class="nav-item nav-link" routerLink="repos" routerLinkActive='active'>Repos</a> -->
        </div>
        </div>
    </nav>
</div>
